[Unit]
Description=HTPC Daemon (set of docker containers via compose)
After=docker.service
BindsTo=docker.service

[Service]
TimeoutStartSec=0
TimeoutStopSec=30
Restart=always
RestartSec=10
User=root
Group=root

Type=simple
ExecStart=docker compose -f /home/kamrui/Documents/development/htpc/compose.yaml up
ExecStop=docker compose -f /home/kamrui/Documents/development/htpc/compose.yaml down
#KillMode=process

[Install]
WantedBy=multi-user.target